@import '../../../node_modules/codyhouse-framework/main/assets/css/base';
/*! purgecss start ignore */
@import 'custom-style';
@import 'components/**/*.scss';
/*! purgecss end ignore */

// --------------------------------

// Bouncing Ball

// --------------------------------

.bouncing-loader {
  --size: 128px;
  --animation-duration: 0.8s;
  --ball-size: calc(var(--size)/3);
  --ball-end-position: calc(var(--size) - var(--ball-size));

  width: var(--size);
  height: var(--size);

  position: relative;
  display: inline-block;
}

.bouncing-loader__ball, .bouncing-loader__shadow {
  width: var(--ball-size);
  height: var(--ball-size);
  position: absolute;
  left: 50%;
  border-radius: 50%;
}

.bouncing-loader__ball {
  top: 0;
  transform: translateX(-50%);
  background-color: var(--color-primary);
  animation: bouncing-loader-ball-anim var(--animation-duration) infinite var(--ease-in);
}

.bouncing-loader__shadow {
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.2);
  transform: translateX(-50%) translateY(50%) scaleY(0.4) scaleX(1.2);
  animation: bouncing-loader-shadow-anim var(--animation-duration) infinite var(--ease-in);
}

@keyframes bouncing-loader-ball-anim {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }

  50% {
    transform: translateX(-50%) translateY(var(--ball-end-position));
    animation-timing-function: var(--ease-out);
  }
}

@keyframes bouncing-loader-shadow-anim {
  0%, 100% {
    transform: translateX(-50%) translateY(50%) scaleY(0.4) scaleX(1.2);
    background-color: hsla(0, 0%, 0%, 0.2);
  }

  50% {
    transform: translateX(-50%) translateY(50%) scaleY(0.2) scaleX(0.6);
    background-color: hsla(0, 0%, 0%, 0.5);
    animation-timing-function: var(--ease-out);
  }
}